.cdd {
  // text-decoration: none;
    cursor: pointer;
    color: var(white);
    // background-color: blue;
    padding: 1rem;
    // margin: 1rem 3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    h4 {
      color: #123E31;
      font-family: PT Serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media screen and (max-width: 540px) {
        font-size: 20px;
    }
      @media screen and (max-width: 290px) {
        font-size: 15px;
    }
     

    }
    
    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-bottom: 1rem;
  
      svg {
        // background-color: var(--light-secondary-color);
        font-size: 22px;
  
        @media screen and (min-width: 2000px) {
          font-size: 48px;
        }
      }
    }
    
  
    .cddText {
      color: var(--dark-color);
  
      @media screen and (min-width: 2000px) {
        font-size: 38px;
      }

      @media screen and (max-width: 540px) {
        font-size: 15px;
    }
    }

    .content{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: rgba(28, 28, 28, 0.75);
      font-family: Source Sans Pro;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 0.5rem;

      @media screen and (max-width: 540px) {
          font-size: 15px;
      }

      li{
        margin-bottom: 0.4rem;
       
      }

      ol{
        padding: 1rem;
      }

      ul{
        padding: 1rem;
      }
    }
  
    @media screen and (min-width: 2000px) {
      font-size: 28px;
    }
  
    @media screen and (max-width: 540px) {
      margin: 1rem 1rem;
    }
  }

  .cddIcon {
    width: 24px;
    height: 24px;
    background: transparent;
    flex-shrink: 0;
    color: #123E31

  }
  
  .cdds {
    margin: 5rem 3rem;
    height: auto;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 57px;
      
      a {
        background-color: #1D700E;
        padding: 12px 18px;
        color: #F3F3F2;
        margin-bottom: 10rem;
        border-radius: 10px;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        text-decoration: none;
        font-weight: 700;
        line-height: normal;

       
      }
     
      @media screen and (min-width: 2000px) {
        font-size: 60px;
      }
    }

    
  
    @media screen and (max-width: 912px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
  
    @media screen and (max-width: 540px) {
      margin: 3rem 1rem;
    }
  }
  
  .cddsWrapper {
    width: 100%;
    margin: 0;
    background-color:#eeffef;
    padding: 94.5px 195px 94.5px 196px;
    justify-content: center;
    align-items: center;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 1.5rem 5rem;
    // align-items: flex-start;

    @media screen and (max-width: 912px) {
      padding: 94.5px 4rem 94.5px 4rem;
    }

    @media screen and (max-width: 540px) {
      padding: 94.5px 1rem 94.5px 1rem;
    }

    
  
    :nth-child(1) {
      order: 1;
    }
  
    :nth-child(3) {
      order: 5;
    }
  
    :nth-child(2) {
      order: 3;
    }
  
    :nth-child(4) {
      order: 2;
    }
  
    :nth-child(5) {
      order: 4;
    }
  
    :nth-child(6) {
      order: 6;
    }
  
    @media screen and (max-width: 912px) {
      grid-template-columns: 1fr;
      :nth-child(1) {
        order: 1;
      }
  
      :nth-child(2) {
        order: 2;
      }
  
      :nth-child(3) {
        order: 3;
      }
  
      :nth-child(4) {
        order: 4;
      }
  
      :nth-child(5) {
        order: 5;
      }
  
      :nth-child(6) {
        order: 6;
      }
    }
  }