.sectionAbout {
    // padding: 3rem 2rem;


    .aboutCon {
        display: flex;
        justify-content: center;
        padding: 3rem;

    }

    h2 {
        padding: 3rem 0 2rem 2.9rem;

    }

    img {
        position: relative;
        height: 500px;
        width: 600px;
        right: 10px;
    }

    .aboutPlay {}

    h5 {
        position: absolute;
        width: 80%;
        left: 22%;
        top: 200%;
    }

    p {
        padding: 0 0 0 2rem;
        margin-bottom: 1rem;
    }


    @media screen and(max-width:1200px) {
        .aboutCon {
            display: flex;
            justify-content: center;

        }

        

        
    }
}