.about {
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem 3rem;

  .imgContainer {
    width: 60%;

    img {
      position: relative;
      height: 523px;
      width: 642px;

      @media screen and (min-width: 2000px) {
        height: 923px;
        width: 842px;
      }

      @media screen and (max-width: 1200px) {
        height: 423px;
        width: 542px;
      }

      @media screen and (max-width: 768px) {
        height: 280px;
        width: 400px;
      }

      @media screen and (max-width: 480px) {
        height: 200px;
        width: 280px;
      }

      @media screen and (max-width: 320px) {
        height: 150px;
        width: 180px;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      order: 2;
    }
  }

  .aboutTextCon {
    margin-top: 2rem;
    width: 50%;

    p {
      margin: 1rem 0;

      @media screen and (min-width: 2000px) {
        font-size: 35px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }

      @media screen and (max-width: 912px) {
        font-size: 18px;
      }
    }

    @media screen and (min-width: 2000px) {
      h2 {
        font-size: 60px;
      }
    }

    @media screen and (max-width: 1200px) {
      h2 {
        font-size: 38px;
      }
    }

    @media screen and (max-width: 768px) {
      h2 {
        font-size: 28px;
      }
    }

    @media screen and (max-width: 480px) {
      h2 {
        font-size: 25px;
      }
    }

    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      order: 1;
    }
  }

  @media screen and (min-width: 2000px) {
    gap: 0;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  @media screen and (max-width: 320px) {
  }
}
