.mainCon {
  background: #1e251f;
  padding: 77px 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsCon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 912px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 540px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 290px) {
    width: 80%;
    padding: 0 3rem;
  }
}

.iconBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 11px;

  @media screen and (max-width: 290px) {
    width: 90px;
  }

  .icons {
    font-size: 24px;
    @media screen and (max-width: 290px) {
      font-size: 18px;
    }
  }

  span {
    color: var(--neutral-200, #919692);
    font-family: Source Sans Pro;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h5 {
    color: var(--neutral-200, #919692);
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (max-width: 290px) {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 912px) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
  }
}
