.ourNetworkCon {
  background-color: var(--light-color);
  padding-top: 4rem;
}

.title {
  font-size: 22px;
  padding-bottom: 2rem;
  margin: 0 3rem;
}

.title > h2 {
  margin-bottom: 2rem;
  color: var(--honey-color);
  font-weight: 600;
  font-size: 22px;
}

.title > h4 {
  margin-bottom: 0.9rem;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 1px;
}

.paragraph,
h4 {
  width: 55%;
}

.paragraph > p {
  font-weight: 400;
  font-size: 16px;
}

.joinCon {
  margin: 3rem 3rem 0 3rem;
  background-color: #e4ffe8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.joinCon2 {
  padding: 3rem;
}

.joinCon > h2 {
  margin-bottom: 2rem;
  color: var(--honey-color);
}

.pContent {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 16px;
}

.joinCon2 > h2 {
  color: var(--honey-color);
  font-weight: 600;
  font-size: 22px;
}

// Media queries

@media screen and (max-width: 912px) {
  .joinCon2 > h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .networkPic {
    display: none;
  }

  .paragraph,
h4 {
  width: 100%;
}
}

@media screen and (max-width: 540px) {
  .joinCon {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .joinCon2 > h2 {
    font-size: 22px;
  }
  .pContent {
    font-size: 18px;
  }
}

@media screen and (max-width: 360px) {

  .joinCon {
    // margin: 3rem 3rem 0 3rem;
    background-color: #e4ffe8;
    border-radius: 10px;
    width: 100%;
  }
  .joinCon2 {
    padding: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .title > h2 {
    font-size: 16px;
  }

  .title > h4 {
    font-size: 22px;
  }

  .title > p {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .title > h2 {
    font-size: 16px;
  }

  .title > h4 {
    font-size: 22px;
  }

  .title > p {
    font-size: 12px;
  }
}
