.footer {
  background-color: var(--black-color);
  padding: 5rem 2rem;

  .footerBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 80px;
    flex-wrap: wrap;

    @media screen and (min-width: 1024px) {
      gap: 41px;
    }

    @media screen and (min-width: 540px) {
      row-gap: 85px;
    }

    .items {
      flex-grow: 1;
      flex-basis: 200;
    }
  }

  .missionCon {
    display: flex;
    width: 291px;
    align-items: center;
    align-content: center;
    gap: 21px;
    flex-shrink: 0;
    flex-wrap: wrap;
  }

  .mission {
    color: #1d700e;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .missionText {
    color: #eeffef;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .quickCon {
    display: flex;
    width: 145px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
    flex-shrink: 0;
  }

  .quick {
    color: #1d700e;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .contactCon {
    display: flex;
    width: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
    flex-shrink: 0;
  }

  .contactText {
    color: #1d700e;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .contactInfo {
    color: #eeffef;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  ul,
  li {
    color: #eeffef;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    list-style: none;
  }

  li {
    margin-right: 2rem;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    div {
      width: 10px;
      height: 10px;

      margin-bottom: 5px;
      background: transparent;

      border-radius: 50px;
    }

    a {
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;

      text-decoration: none;
      color: white;
      font-weight: 400;
      font-size: 1.3rem;

      &:hover {
        color: var(--white-color);
        text-decoration: none;
      }

      @media screen and (min-width: 2000px) {
        font-size: 2.3rem;
      }
    }

    span {
      text-transform: lowercase;
    }

    &:hover {
      div {
        background: var(--white-color);
      }
    }
  }

  .offAddress {
    color: #eeffef;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 21px;
  }

  .contactInfo a,
  :visited {
    color: white;
    text-decoration: none;
    text-decoration: none;
    list-style: none;
  }

  .contactInfo a:hover {
    color: #bdfcc1;
    text-decoration: none;
  }

  .footCon {
    display: flex;
    align-items: center;
    gap: 5rem;

    .contactInfo a {
      text-decoration: none;
      color: var(--light-color);
      line-height: 1.1;
      letter-spacing: 1px;

      span {
        font-weight: 700;
        color: var(--light-color);
      }
      small {
        color: var(--light-color);
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 300;
        margin-left: 0.2rem;

        @media screen and (min-width: 2000px) {
          font-size: 30px;
        }
      }
    }
  }

  .footerIcon {
    width: 85%;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 10rem;
    border-top: 0.5px solid white;

    @media screen and (max-width: 560px) {
      width: 85%;
      margin-left: 2.5rem;
      margin-right: 7rem;
    
    }

  }

  .item {
    margin-top: 30px;
    //  padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;


   
  }

  .itemLink {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    // background-color: var(--white-color);
    height: 35px;
    width: 35px;
    color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    a {
      color: white;

      svg {
        font-size: 25px;
        display: flex;
        align-self: center;
        justify-self: center;

        @media screen and (min-width: 2000px) {
          font-size: 45px;
        }
      }
    }

    @media screen and (min-width: 2000px) {
      height: 75px;
      width: 75px;
    }

    
  }

  .itemLink:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 45px;
    width: 45px;
    // color: rgb(105, 16, 16);
    border-radius: 50%;
    transition: all 0.8s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;

    
  }


  .dltLogo {
    display: flex;
    flex-direction: column;
    gap: 9px;

    .footerText {
      color: #919692;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 1.5px;
      padding-top: 9px;

      @media screen and (min-width: 2000px) {
        font-size: 40px;
      }
    }
  }

  @media screen and (max-width: 540px) {
    padding: 3rem 1rem 0;
  }

  @media screen and (max-width: 480px) {
    font-size: 10px;
  }

  @media screen and (max-width: 320px) {
    font-size: 10px;
    width: 100%;
    overflow: hidden;
  }
}
