.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--secondary-color);
  gap: 2rem;
  height: auto;
  padding: 10rem 3rem 2rem;
  background-color: var(--primary-color);

  span {
    color: var(--white-color);
  }

  h1 {
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 1.5px;
    margin-bottom: 5rem;

    @media screen and (min-width: 2000px) {
      padding: 12rem 0 0;
      gap: 8rem;
      font-size: 78px;
    }

    @media screen and (max-width: 1200px) {
      font-size: 38px;
    }

    @media screen and (max-width: 912px) {
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 0.1em;
      text-align: left;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 3rem;
    }
    @media screen and (max-width: 480px) {
      font-size: 25px;
    }
    @media screen and (max-width: 320px) {
      font-size: 20px;
    }
  }

  .applyBtn {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;

    font-size: 16px;
    font-weight: 700;

    .btn {
      text-decoration: none;
      padding: 1rem;

      cursor: pointer;

      text-align: center;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;

      a {
        text-decoration: none;
        color: var(--white-color);
        text-align: center;
        letter-spacing: 1px;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }

      @media screen and (min-width: 2000px) {
        font-size: 38px;
        font-weight: 900;
      }

      @media screen and (max-width: 768px) {
        text-align: center;
      }

      @media screen and (max-width: 414px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 414px) {
      font-size: 12px;
      font-weight: 900;
    }

    @media screen and (max-width: 395px) {
      font-size: 10px;
      font-weight: 900;
    }

    @media screen and (max-width: 395px) {
      font-size: 9px;
      font-weight: 900;
    }

    @media screen and (max-width: 280px) {
      font-size: 4.5px;
      font-weight: 900;
    }
  }

  .containerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      animation: move 30s linear infinite;
      -webkit-animation: move 30s linear infinite;
      height: 30rem;
      width: 30rem;

      @media screen and (min-width: 2000px) {
        height: 40rem;
        width: 40rem;
      }

      @media screen and (max-width: 1200px) {
        height: 25rem;
        width: 25rem;
      }

      @media screen and (max-width: 912px) {
        height: 20rem;
        width: 20rem;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10rem;
  }

  @media screen and (max-width: 912px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 540px) {
    height: auto;
    padding: 6rem 1rem 0;
  }
}

@keyframes move {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
