.faq {
  cursor: pointer;
  background-color: var(--light-secondary-color);
  color: var(--dark-color);
  padding: 1rem;
  margin: 1rem 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  article {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;

    h4 {
      width: 100%;
      font-size: 17px;
    }

    .faqIcon {
      background: transparent;
      font-size: 22px;

      @media screen and (min-width: 2000px) {
        font-size: 48px;
      }
    }
  }

  .faqText {
    color: var(--dark-color);
    font-size: 18px;

    @media screen and (min-width: 2000px) {
      font-size: 38px;
    }
  }

  @media screen and (min-width: 2000px) {
    font-size: 28px;
  }

  @media screen and (max-width: 540px) {
    margin: 1rem 1rem;
  }
}

.faqs {
  margin: 5rem 3rem;
  height: auto;

  h3 {
    text-align: center;
    margin-bottom: 2rem;

    @media screen and (min-width: 2000px) {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 912px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  @media screen and (max-width: 540px) {
    margin: 3rem 1rem;
  }
}

.faqsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 5rem;
  align-items: flex-start;

  :nth-child(1) {
    order: 1;
  }

  :nth-child(3) {
    order: 5;
  }

  :nth-child(2) {
    order: 3;
  }

  :nth-child(4) {
    order: 2;
  }

  :nth-child(5) {
    order: 4;
  }

  :nth-child(6) {
    order: 6;
  }

  @media screen and (max-width: 912px) {
    grid-template-columns: 1fr;
    :nth-child(1) {
      order: 1;
    }

    :nth-child(2) {
      order: 2;
    }

    :nth-child(3) {
      order: 3;
    }

    :nth-child(4) {
      order: 4;
    }

    :nth-child(5) {
      order: 5;
    }

    :nth-child(6) {
      order: 6;
    }
  }
}
