.sectionCongrat {
  background-color: #e4ffe8;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 17px;
  width: 100%;
  height: 100vh;

  h2 {
    color: var(--honey-color);
    font-family: "Syne";
    font-size: 36px;
    font-weight: 700;

    @media screen and (min-width: 2000px) {
      font-size: 65px;
    }

    @media screen and (max-width: 540px) {
      font-size: 22px;
    }
  }

  p {
    font-family: Open "Sans";
    font-size: 36px;
    font-weight: 700;
    color: #333934;

    @media screen and (min-width: 2000px) {
      font-size: 65px;
    }

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }

    @media screen and (max-width: 540px) {
      font-size: 16px;
    }
  }

  button {
    display: flex;
    width: 258px;
    height: 57px;
    padding: 11px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #1d700e;

    @media screen and (min-width: 2000px) {
      width: 558px;
      height: 87px;
    }

    @media screen and (max-width: 540px) {
      width: 192px;
      height: 57px;
      padding: 12px 15px;
    }

    a {
      color: #f3f3f2;
      font-family: Open "Sans";
      font-size: 18px;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }

      @media screen and (min-width: 2000px) {
        font-size: 36px;
      }

      @media screen and (max-width: 540px) {
        font-size: 14px;
      }
    }
  }
}
